@using BGGToolsMvC.Models
@model IEnumerable<Thing>

<table class="table table-hover table-responsive">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Published</th>
    </tr>
    @foreach (Thing thing in Model)
    {
        <tr>
            <td>@thing.ThingId</td>
            <td>@thing.Name</td>
            <td>@thing.YearPublished</td>
        </tr>
    }
</table>