@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This ASP.NET CORE MVC application was developed using the BoardGameGeek.com XML API2.</p>
    <p>It was developed by the following students at Northwestern Michigan College:</p>
    <ul style="list-style-type:none">
        <li>Sam Kittendorf</li>
        <li>Michael McLaughlin</li>
        <li>James Olszewski</li>
    </ul>
       

    
</div>
